<div class="shadow-wrapper">
    <a href="{{ section.settings.btn-url }}" class="btn btn-primary">{{ section.settings.btn-text }}</a>
    <div class="shadow {{additional_class |  default: ''}}"></div>
</div>