/* Global CSS */
.btn-red {
    background-color: #D92515;
}
.btn-green {
    background-color: #BFCE17;
}
.btn-yellow {
    background-color: #FED408;
}
/* Banner Section css */

.hero-image {
    min-height: 510px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner-box {
    background-color: rgb(0 0 0 / 50%);
    backdrop-filter: blur(3px);
}
.shadow-wrapper {
    display: flex;
    position: relative;
    width: fit-content;
}
.shadow-wrapper .btn {
    z-index:1;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid;
    padding: 10px 20px;
    position: relative;
    bottom: 4px;
    right: 3px;
    transition: all .1s linear;
}
.shadow {
    border-radius: 50px;
    height: 100%;
    width: 100%;
    position: absolute;
    
}
.btn:hover, .btn:first-child:active {
    background-color: transparent;
    border-color: #fff;
}
.shadow-wrapper:hover .btn {
    bottom: 0;
    right: 0;
    transition: all .1s linear;
}

/* Subscription Section Css */
.subscription-boxes .btn {
    color: #000;
}
.subscription-boxes .btn:hover {
    border-color: #000;
}
.box-bg {
    background-color: #FDFFEA;
    box-shadow: 12px 12px 0 1px white, 12px 12px 0 3px #929293;
}
.subscription-icons {
    max-width: 120px;
    max-height: 120px;
}
.text-green {
    color: #BFCE17;
    font-weight: 500;
}
.text-yellow {
    color: #FED408;
    font-weight: 500;
}

/* Video with Text Section Css */

.bg-image {
    background: url('https://cdn.shopify.com/s/files/1/0833/1794/8730/files/Mask_Group_13.svg?v=1698415946') no-repeat;
    background-position: bottom -80px right;
}
#play-button {
    color: #fff;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
}
#play-button:hover {
    background-color: #000;
}
@media screen and (min-width:1200px) {
    .bg-image {
        background-position: bottom -50px right;
    }
}
@media screen and (min-width:1400px) {
    .bg-image {
        background-position: bottom -20px right;
    }
}